//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 24 00:26:27 2016
//! **************************************************************************

SCHEMATIC START;
COMP "databus<5>" LOCATE = SITE "F14" LEVEL 1;
COMP "databus<6>" LOCATE = SITE "G16" LEVEL 1;
COMP "databus<7>" LOCATE = SITE "J12" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "buttons<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "buttons<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "buttons<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "buttons<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "nRD" LOCATE = SITE "T18" LEVEL 1;
COMP "nSH" LOCATE = SITE "U18" LEVEL 1;
COMP "s0" LOCATE = SITE "R16" LEVEL 1;
COMP "s1" LOCATE = SITE "P17" LEVEL 1;
COMP "reset" LOCATE = SITE "L13" LEVEL 1;
COMP "sys_clk_50" LOCATE = SITE "B8" LEVEL 1;
COMP "databus<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "databus<1>" LOCATE = SITE "J16" LEVEL 1;
COMP "nInt" LOCATE = SITE "M15" LEVEL 1;
COMP "databus<2>" LOCATE = SITE "G13" LEVEL 1;
COMP "databus<3>" LOCATE = SITE "H16" LEVEL 1;
COMP "databus<4>" LOCATE = SITE "H15" LEVEL 1;
SCHEMATIC END;

