//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 15 11:16:39 2016
//! **************************************************************************

SCHEMATIC START;
COMP "oe" LOCATE = SITE "N17" LEVEL 1;
COMP "out_dac_l" LOCATE = SITE "K12" LEVEL 1;
COMP "out_dac_r" LOCATE = SITE "L15" LEVEL 1;
COMP "reset" LOCATE = SITE "L13" LEVEL 1;
COMP "hz_pulse" LOCATE = SITE "J15" LEVEL 1;
COMP "sys_clk_50" LOCATE = SITE "B8" LEVEL 1;
COMP "oe_led" LOCATE = SITE "E4" LEVEL 1;
COMP "reset_led" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

